body{
background-color: rgb(24, 134, 137);
display: flex;
align-items: center;
justify-content: center;
}
.continer{
width: 50%;
background-color: rgb(233, 248, 118);
margin-top: 300px;
display: flex;
align-items: center;
justify-content: space-evenly;
flex-direction: column;
align-content: center;
border-radius: 10px;
}
#num{
align-content: center;
font-size: 80px;
}
.btns{
    width: 90%;
    background-color: rgb(24, 134, 137);
    margin-bottom: 10px;
    border-radius: 10px;
}
button{
    width: 30%;
    height: 50px;
    margin: 10px;
    background-color: rgb(233, 248, 118);
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 800;
}


